@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background-color: #050816;
  color: white;
  font-family: "Poppins", sans-serif;
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
}

.black-gradient {
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  );
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); 
}

.violet-gradient {
  background: #804dee;
  background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #804dee 0%,
    rgba(60, 51, 80, 0) 100%
  );
}

.orange-text-gradient {
  background: #f12711; 
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); 
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #11998e; 
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #38ef7d
  );
  background: linear-gradient(
    to top,
    #11998e,
    #38ef7d
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  background: #56ccf2;
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  );
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; 
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  );
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shadow-card {
  --tw-shadow: 0px 35px 120px -15px #211e35;
  --tw-shadow-colored: 0px 35px 120px -15px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
